.type{
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  background-color: #eff3f9!important;

}
.type div{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
